
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornsilk;
}

footer {
    display: block;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
    color: black;
    padding: 10%;
    font-family: 'Times New Roman', Times, serif;
}

.HeaderBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: cornflowerblue;
    color: black;
    font-size: 150%;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding: 5%;
}

.btn {
    display: block;
    background-color: cornflowerblue;
    color: black;
    padding: 2px;
    border-radius: 8px;
    border: black;
}

.inline-btn {
    display: inline-flex;
  }

.btn:hover {
    box-shadow: 20px 20px 10px slategrey;
}

.card {
    max-width: 80%;
    margin-top: 10%;
    border: solid;
    border-width: 2px;
    padding: 5%;
    border-radius: 30px;
    border-color: black;
  }
 
 #start-screen {
    display: inline;
    text-align: center;
  }

.option-btn {
    width: 100%;
    text-align: left;
    margin: 5px;
  }
  
#result-div {
    display: none;
  }
  